/* Liste des couleurs utilisées 

Noir Principal : #25282B
Gris foncé : #272B2F
Gris clair : #949698
Rouge orangé : #ff3b34
Jaune : #FEBC2C
Blanc : #eeeeee

*/


/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles globaux */
body {
  font-family: "Arial", sans-serif;
  background-color: #25282B;
  color: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button {
  cursor: pointer;
}

/* Style de la barre de défilement */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre */
  height: 8px; /* Hauteur pour le scroll horizontal */
}

/* défilement de la liste */
::-webkit-scrollbar-thumb {
  background-color: #ff3b34; /* Couleur de la barre */
  border-radius: 4px; /* Arrondi de la barre */
}

::-webkit-scrollbar-track {
  background-color: #25282B; /* Couleur de l'arrière-plan */
}
